<form
  [formGroup]="form"
  [ngClass]="{ 'border-b-4 border-blue-600': !appStore.isLoading() }"
  class="grid grid-cols-2 bg-gradient-to-r from-blue-50 to-blue-300"
>
  <div class="grid grid-cols-2 gap-3 items-center justify-center p-3">
    <div class="font-medium font-xl col-span-2">Thresholds</div>
    <mat-form-field>
      <mat-label>Overdue Threshold</mat-label>
      <input matInput type="number" formControlName="overdueThreshold" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Time Window (Days)</mat-label>
      <input matInput type="number" formControlName="daysWindow" />
    </mat-form-field>
  </div>

  <div class="grid grid-cols-3 gap-3 items-center justify-center p-3">
    <div class="font-medium font-xl col-span-3">API</div>
    <mat-form-field>
      <mat-label>Workspace</mat-label>
      <input matInput formControlName="workspace" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Token</mat-label>
      <input matInput formControlName="access_token" />
    </mat-form-field>

    <button
      mat-raised-button
      class="!bg-gradient-to-r from-blue-600 to-purple-600 !text-slate-100"
      color="primary"
      (click)="onFetchClick()"
    >
      Fetch
    </button>
  </div>
</form>

@if (appStore.isLoading()) {
<mat-progress-bar
  mode="query"
  class="!bg-gradient-to-r from-blue-600 to-purple-600"
></mat-progress-bar>
} @if (error()) {
<div class="p-3 bg-red-100">
  {{ errorToString() }}
</div>
}
