<div
  class="text-xs font-light mb-1 text-nowrap overflow-hidden"
  [matTooltip]="getAuthor()"
>
  {{ getAuthor() }}
</div>
<div class="flex justify-end">
  <div class="grid gap-1" [style]="getColumnContainerStyle()">
    @for (weekCounts of commitCounts(); track $index) {
      <div class="grid grid-cols-1" [style]="getRowContainerStyle()">
        @for (commitCount of weekCounts; track $index) {
        <div
          class="rounded-sm"
          [style]="getCellStyle(commitCount)"
          [matTooltip]="getCountTooltip(commitCount)"
          matTooltipClass="whitespace-pre-line"
        ></div>
        }
      </div>
    }
  </div>
</div>
