<div class="flex flex-col h-screen">
  <div>
    <mat-expansion-panel
      [ngClass]="{
        '!rounded-none !shadow-none !bg-slate-50 !bg-gradient-to-r !from-blue-50 !to-blue-300': true,
        'border-b-4 border-blue-600': !appStore.isLoading()
      }"
      hideToggle=""
    >
      <mat-expansion-panel-header class="!px-3">
        <div class="flex items-center justify-between gap-3 p-1 w-full" matTooltip="Show more">
          <div class="flex items-center gap-3 text-xl">
            <mat-icon svgIcon="bitbucket" inline class="!h-6"></mat-icon>
            <div class="text-2xl font-light mt-1">Dashboard</div>
          </div>
          <mat-icon>edit</mat-icon>
        </div>
      </mat-expansion-panel-header>
      <app-api-inputs class="border-b"></app-api-inputs>
    </mat-expansion-panel>

    @if (appStore.isLoading()) {
    <mat-progress-bar
      mode="query"
      class="!bg-gradient-to-r from-blue-600 to-purple-600"
    ></mat-progress-bar>
    } @if (appStore.errors().length > 0) {
    <div class="flex flex-col gap-3 p-3 bg-red-200 divide-y">
      @for (error of appStore.errors(); track $index) {
      <div class="flex justify-between gap-3">
        <div>
          @if (error[0] !== null && error[0] !== "") {
            <div>Error at {{ error[0] }}</div>
          }
          <div>
            {{ error[1] }}
          </div>
        </div>
        <div>
          <button mat-icon-button (click)="appStore.removeError(error[0])">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
    }
  </div>

  <div class="grow flex flex-col">
    @if (featureService.features[Features.GitCommitHistory].enabled()) {
    <app-git-commits></app-git-commits>
    } 
    
    @if (featureService.isAnyEnabled() == false) {
      <div class="flex flex-col gap-3 justify-center items-center h-full">
        <mat-icon class="text-slate-300">leaderboard</mat-icon>
        <div class="text-2xl text-slate-300">Click on the top bar for more</div>
      </div>
    }

    @if (featureService.someFeatureIsInView(this.inputsService.form.controls.features.value ?? [], Views.PullRequestCharts)) { 
      @if (featureService.isFeatureOn(Features.PullRequestParticipationChart) || featureService.isFeatureOn(Features.PullRequestSubmittedChart)) {
      <div class="grow grid grid-cols-2">
        <app-last-updated-pull-request-counter class="col-span-2"></app-last-updated-pull-request-counter>
        @if (featureService.isFeatureOn(Features.PullRequestParticipationChart)) {
        <app-pr-participation-chart></app-pr-participation-chart>
        } @if (featureService.isFeatureOn(Features.PullRequestSubmittedChart)) {
        <app-pr-submitted-by-author-chart></app-pr-submitted-by-author-chart>
        }
      </div>
      }

      @if (featureService.isFeatureOn(Features.PullRequestAgeChart) || featureService.isFeatureOn(Features.PullRequestLastUpdatedChart)) {
      <div class="grow grid grid-cols-2">
        <app-open-pull-request-counter class="col-span-2"></app-open-pull-request-counter>
        @if (featureService.isFeatureOn(Features.PullRequestAgeChart)) {
        <app-pr-age-chart></app-pr-age-chart>
        } @if (featureService.isFeatureOn(Features.PullRequestLastUpdatedChart)) {
        <app-pr-last-updated-chart></app-pr-last-updated-chart>
        }
      </div>
      }
    } 
    
    @if (featureService.isFeatureOn(Features.OpenPullRequestTable)) {
    <app-pull-request-table></app-pull-request-table>
    }
  </div>
</div>
