<div class="flex flex-col h-screen">
  <div>
    <mat-expansion-panel
      [ngClass]="{
        '!rounded-none !shadow-none !bg-slate-50 !bg-gradient-to-r !from-blue-50 !to-blue-300': true,
        'border-b-4 border-blue-600': !appStore.isLoading()
      }"
      hideToggle=""
    >
      <mat-expansion-panel-header class="!px-3">
        <div class="flex items-center justify-between gap-3 p-1 w-full">
          <div class="flex items-center gap-3 text-xl">
            <mat-icon svgIcon="bitbucket" inline class="!h-6"></mat-icon>
            <div class="text-2xl font-light mt-1">Dashboard</div>
          </div>
          <mat-icon>edit</mat-icon>
        </div>
      </mat-expansion-panel-header>
      <app-api-inputs class="border-b"></app-api-inputs>
    </mat-expansion-panel>

    @if (appStore.isLoading()) {
    <mat-progress-bar
      mode="query"
      class="!bg-gradient-to-r from-blue-600 to-purple-600"
    ></mat-progress-bar>
    } @if (appStore.httpErrors().length > 0) {
    <div class="flex flex-col gap-3 p-3 bg-red-200 divide-y">
      @for (error of appStore.httpErrors(); track $index) {
      <div class="flex justify-between gap-3">
        <div>
          <div>Error at {{ error[0] }}</div>
          <div>
            {{ errorToString(error[1]) }}
          </div>
        </div>
        <div>
          <button mat-icon-button (click)="appStore.removeError(error[0])">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
    }
  </div>

  <div
    class="grow grid xl:grid-cols-2 xl:grid-rows-1 lg:grid-cols-1 lg:grid-rows-2 overflow-y-hidden"
  >
    <app-pull-requests
      class="overflow-y-scroll xl:border-r xl:border-t-0 lg:border-r-0 lg:border-t border-slate-500"
    ></app-pull-requests>
    <app-git-commits
      class="flex flex-col gap-3 p-3 overflow-y-scroll xl:order-last lg:order-first"
    ></app-git-commits>
  </div>
</div>
