<div class="flex justify-between border-b">
  <div class="font-medium font-2xl p-3">Git Commits</div>
  <div
    [ngClass]="{
      'text-right p-3': true,
      'italic text-slate-400': commitsStore.commits().length == 0
    }"
  >
    <span class="italic font-normal"
      >in the last
      {{
        appStore.queryParams[QueryParamKey.pullRequestDaysWindow]()
      }}
      days</span
    >
    &nbsp;&nbsp;&nbsp;&nbsp;
    {{ commitsStore.commits().length }} total commits
  </div>
</div>

<div class="flex flex-wrap gap-3 p-3">
  @for (authorCommits of commitsStore.authorsCommits(); track $index) {
  <app-git-heat-map
    [daysWindow]="appStore.queryParams[QueryParamKey.commitDaysWindow]()"
    [author]="authorCommits[0]"
    [commits]="authorCommits[1]"
    [isAnonymous]="anonymityService.isAnonymous(authorCommits[0])"
    [ngClass]="{
      'border rounded p-2 min-w-[132px]': true,
      'bg-slate-200 border-slate-300': anonymityService.isAnonymityEnabled() && !anonymityService.isCompletelyAnonymous() && anonymityService.isAnonymous(authorCommits[0]) === true,
      'bg-green-50 border-green-300': anonymityService.isAnonymityEnabled() && !anonymityService.isCompletelyAnonymous() && anonymityService.isAnonymous(authorCommits[0]) === false,
      'bg-slate-50 border-slate-300': !anonymityService.isAnonymityEnabled() || anonymityService.isCompletelyAnonymous(),
    }"
  ></app-git-heat-map>
  }
</div>
