<div class="font-medium font-xl mb-3">Git Commit Inputs</div>
<div class="grid grid-cols-3 gap-3 w-full">
  <mat-form-field class="col-span-2">
    <mat-label>Time Window (Days)</mat-label>
    <input
      matInput
      type="number"
      [formControl]="inputsService.form.controls.commitDaysWindow"
    />
  </mat-form-field>
  <button
    mat-raised-button
    class="!bg-gradient-to-r from-blue-600 to-purple-600 !text-slate-100 mt-2"
    color="primary"
    (click)="onFetchClicked()"
  >
    Fetch Commits
  </button>
</div>

<div>{{ commitsStore.commits().length }} total commits</div>
<div class="grid grid-cols-6 grid-rows-* gap-3">
  @for (authorCommits of commitsStore.authorsCommits(); track $index) {
  <app-git-heat-map
    [daysWindow]="appStore.queryParams[QueryParamKey.commitDaysWindow]()"
    [author]="authorCommits[0]"
    [commits]="authorCommits[1]"
    class="border border-slate-300 rounded bg-slate-200 p-2"
  ></app-git-heat-map>
  }
</div>
