<div
  [ngClass]="{ 'border-b-4 border-blue-600': !appStore.isLoading() }"
  class="bg-gradient-to-r from-blue-50 to-blue-300"
>
  <div class="grid grid-cols-6 gap-3 items-center justify-center p-3">
    <div class="font-medium font-xl col-span-6">API Inputs</div>
    <mat-form-field>
      <mat-label>Workspace</mat-label>
      <input matInput [formControl]="inputsService.form.controls.workspace" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Project</mat-label>
      <input matInput [formControl]="inputsService.form.controls.project" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Token</mat-label>
      <input matInput [formControl]="inputsService.form.controls.access_token" />
    </mat-form-field>

    <mat-form-field class="col-span-2">
      <mat-label>Username Aliases</mat-label>
      <input matInput [formControl]="inputsService.form.controls.author_aliases" placeholder="[{ name: 'john', aliases: ['johnny'] }]" />
    </mat-form-field>

    <div class="flex flex-col">
      <button
        mat-raised-button
        class="!bg-gradient-to-r from-blue-600 to-purple-600 !text-slate-100"
        color="primary"
        (click)="onFetchAllClicked()"
      >
        Fetch All
      </button>
      <div
        class="text-right text-xs font-light mt-2 mr-6 cursor-help underline decoration-dotted underline-offset-4"
        [ngClass]="{ 'text-red-800 !font-bold': appStore.requestCounter() >= appStore.requestCounterWarningThreshold }"
        matTooltip="Bitbuckets API supposedly has an request limit of 1000 per hour"
      >
        {{ appStore.requestCounter() }} requests sent
      </div>
    </div>
  </div>
</div>

@if (appStore.isLoading()) {
<mat-progress-bar
  mode="query"
  class="!bg-gradient-to-r from-blue-600 to-purple-600"
></mat-progress-bar>
} @if (appStore.httpErrors()) {
<div class="flex flex-col gap-3 p-3 bg-red-200 divide-y">
  @for (error of appStore.httpErrors(); track $index) {
  <div>
    <div>Error at {{ error[0] }}</div>
    <div>
      {{ errorToString(error[1]) }}
    </div>
  </div>
  }
</div>
}
