<!-- https://stackblitz.com/edit/angular-material-file-input-with-form-field?file=src%2Fapp%2Fapp.component.html -->
<div (click)="handleClick($event)" class="cursor-pointer">
  <mat-form-field class="w-full ">
    <mat-icon matPrefix class="px-3">{{ icon() }}</mat-icon>
    <input
      type="text"
      matInput
      readonly
      placeholder="Upload File"
      [value]="fileName()"
      [formControl]="formControl()"
    />
    <input type="file" #fileInput hidden (change)="handleFileChange()" />
  </mat-form-field>
</div>
