<div class="flex gap-6row-span-1">
  <div class="w-1/2">
    <canvas
      baseChart
      [data]="pullRequestsStore.pullRequestsLastUpdated()"
      [options]="
        pullRequestsStore.getOptions(
          'Days Since Pull Requests Were Last Updated',
          'Days Since Last Updated',
          'Number Of Pull Requests'
        )
      "
      [type]="'bar'"
    ></canvas>
  </div>
  <div class="w-1/2">
    <canvas
      baseChart
      [data]="pullRequestsStore.pullRequestsAges()"
      [options]="
        pullRequestsStore.getOptions(
          'Days Since Pull Requests Were Opened',
          'Days Since Created',
          'Number Of Pull Requests'
        )
      "
      [type]="'bar'"
    ></canvas>
  </div>
</div>

<div>{{ commitsStore.commits().length }} total commits</div>
<div class="grid grid-cols-6 grid-rows-* gap-3">
  @for (authorCommits of commitsStore.authorsCommits(); track $index) {
  <app-git-heat-map
    [daysWindow]="appStore.queryParams['daysWindow']()"
    [author]="authorCommits[0]"
    [commits]="authorCommits[1]"
    class="border border-slate-300 rounded bg-slate-200 p-2"
  ></app-git-heat-map>
  }
</div>
