<!-- Open Pull Requests -->
<div class="grid grid-cols-2 border-b">
  <div class="font-medium font-2xl p-3">All Pull Requests</div>
  <div
    [ngClass]="{
      'text-right p-3': true,
      'italic text-slate-400': allPullRequestsCount() == 0
    }"
  >
    {{ allPullRequestsCount() + " pull requests" }}
  </div>
</div>

<!-- All Pull Requests -->
<div class="flex flex-col gap-6 p-3">
  <app-pr-submitted-by-author-chart></app-pr-submitted-by-author-chart>
  <app-pr-participation-chart></app-pr-participation-chart>
</div>

<!-- Open Pull Requests -->
<div class="grid grid-cols-2 border-b">
  <div class="font-medium font-2xl p-3">Open Pull Requests</div>
  <div
    [ngClass]="{
      'text-right p-3': true,
      'italic text-slate-400': openPullRequestsCount() == 0
    }"
  >
    {{ openPullRequestsCount() + " pull requests" }}
  </div>
</div>

<div class="flex gap-6 row-span-1">
  <div class="w-1/2">
    <app-pr-last-updated-chart></app-pr-last-updated-chart>
  </div>
  <div class="w-1/2">
    <app-pr-age-chart></app-pr-age-chart>
  </div>
</div>
<app-pull-request-table></app-pull-request-table>
